@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.l-container {
	@apply px-6 tablet:px-8 laptop:px-10 max-w-screen-desktop mx-auto w-full;
}

.u-list {
	list-style-type: disc;
	padding-left: 1em;
}

.u-dynamicHeight {
	height: calc(100vh - theme(space.16));
	@media (min-width: theme(screens.tablet)) {
		height: calc(100vh - theme(space.20));
	}
}

.u-underline-animation {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 0.1em;
		background-color: currentColor;
		transform: scale(0, 1);
		transform-origin: right top;
		transition: transform 0.25s;
	}
	&:hover {
		&::after {
			transform: scale(1, 1);
			transform-origin: left top;
		}
	}
}

.u-gradient-bg {
	background-image: linear-gradient(45deg, #22d3ee, rgba(30, 64, 175, 0.9), #22d3ee);
	background-size: 200% 200%;
	animation-name: gradient-bg;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
