@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.l-container {
	@apply px-6 tablet:px-8 laptop:px-10 max-w-screen-desktop mx-auto w-full;
}
.u-negative-container {
	@apply -mx-6 tablet:-mx-8 laptop:-mx-10;
	@media (min-width: theme(screens.desktop)) {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
	}
}

.light .u-backdrop-white {
	background-color: rgba(255, 255, 255, 0.9);
	@apply backdrop-blur-sm;
}

.dark .u-backdrop-black {
	background-color: rgba(33, 37, 41, 0.9);
	@apply backdrop-blur-sm;
}

.u-markdown {
	> * + * {
		margin-top: 1em;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 2em;
	}
}

.u-list {
	list-style-type: disc;
	padding-left: 1em;
}

.u-blockquote {
	font-style: italic;
	padding-left: 1em;
	border-left: 3px solid currentColor;
}

.u-dynamicHeight {
	height: calc(100vh - theme(space.16));
	@media (min-width: theme(screens.tablet)) {
		height: calc(100vh - theme(space.20));
	}
}

.u-underline-animation {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 0.1em;
		background-color: currentColor;
		transform: scale(0, 1);
		transform-origin: right top;
		transition: transform 0.25s;
	}
	&:hover {
		&::after {
			transform: scale(1, 1);
			transform-origin: left top;
		}
	}
}

.u-gradient-bg {
	background-image: linear-gradient(45deg, #22d3ee, rgba(30, 64, 175, 0.9), #22d3ee);
	background-size: 200% 200%;
	animation-name: gradient-bg;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.u-link-hover {
	@apply transition-colors;
	&:hover {
		@apply bg-sky-50 dark:bg-lightBody !important;
	}
}

[data-tooltip] {
	position: relative;
	&::after {
		content: attr(data-tooltip);
		display: block;
		background-color: #fff;
		white-space: nowrap;
		position: absolute;
		bottom: 100%;
		left: 50%;
		font-size: 12px;
		transform-origin: center bottom;
		transform: translateX(-50%) translateY(-10px) scale(0, 0);
		user-select: none;
		transition: transform 100ms;
		@apply shadow-md px-2 py-1 border rounded-md;
	}
	&::before {
		content: '';
		display: block;
		height: calc(15px / 2 * tan(60deg));
		width: 15px;
		clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%) scale(0, 0);
		z-index: 1;
		background-color: #fff;
	}
	&:hover {
		&::after {
			transform: translateX(-50%) translateY(-10px) scale(1, 1);
		}
		&::before {
			transform: translateX(-50%) scale(1, 1);
		}
	}
}

.u-circle-icon {
	@apply w-8 h-8 grid place-items-center overflow-hidden rounded-full bg-white border shadow dark:bg-lightBody dark:border-lightBody;
}

.topic {
	@apply px-2 py-1 border rounded-full whitespace-nowrap shrink-0 text-description text-label-sm dark:bg-transparent dark:border-lightBody dark:text-lightBody;
}

.u-layered-bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--bg-image);
	@apply bg-cover bg-center bg-no-repeat;
}

.u-overlay {
	@apply fixed top-0 right-0 bottom-0 left-0;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 100;
}
